@using Microsoft.AspNetCore.Components.Routing

<aside class="sidebar bg-secondary text-white vh-100 p-3">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item mb-2">
            <NavLink href="/" class="nav-link text-white" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink href="/dashboard" class="nav-link text-white">
                Dashboard
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink href="/fetch-accounts" class="nav-link text-white">
                Customer Accounts
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink href="/deposit" class="nav-link text-white">
                Deposit
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink href="/withdraw" class="nav-link text-white">
                Withdraw
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink href="/account_transfer" class="nav-link text-white">
                Transfer
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/transactions" class="nav-link text-white">
                Transactions
            </NavLink>
        </li>
    </ul>
</aside>
