<h3>NavMenu</h3>

@code {}
    <NavLink class="nav-link" href="">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="fetchaccounts">
        <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
    </NavLink>
    <NavLink class="nav-link" href="transactions">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Transactions
    </NavLink>
    <NavLink class="nav-link" href="deposit">
        <span class="oi oi-dollar" aria-hidden="true"></span> Deposit
    </NavLink>
    <NavLink class="nav-link" href="withdraw">
        <span class="oi oi-minus" aria-hidden="true"></span> Withdraw
    </NavLink>
    <NavLink class="nav-link" href="transfer">
        <span class="oi oi-transfer" aria-hidden="true"></span> Transfer
    </NavLink>


